In [1]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [2]:
# IFNB enhancer sequence
enName='IFNB'
en='TAGAAACTACTAAAATGTAAATGACATAGGAAAACTGAAAGGGAGAAGTGAAAGTGGGAAATTCCTCTGAATAGAGAGAGGACCATC'

In [3]:
len(en)

87

In [4]:
# Get mpra data
fn='IFNB_41587_2012_BFnbt2137_MOESM14_ESM__pvalues.tsv'
df=pd.read_csv(fn,sep='\t').set_index('nt')
df.head()

,1,2,3,4,5,6,7,8,9,10,...,78,79,80,81,82,83,84,85,86,87
nt,,,,,,,,,,,,,,,,,,,,,
A,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0000,1.0,1.0,1.0,1.0,1.0
C,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0000,1.0,1.0,1.0,1.0,1.0
G,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0164,1.0,1.0,1.0,1.0,1.0
T,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0000,1.0,1.0,1.0,1.0,1.0

In [11]:
# Get mpra data
fn='IFNB_41587_2012_BFnbt2137_MOESM14_ESM__effects-bymedian.tsv'
effDF=pd.read_csv(fn,sep='\t').set_index('nt')
effDF.head()

,1,2,3,4,5,6,7,8,9,10,...,78,79,80,81,82,83,84,85,86,87
nt,,,,,,,,,,,,,,,,,,,,,
A,0.932,1.000,0.810,1.000,1.000,1.000,0.932,1.078,1.000,1.265,...,1.241,1.000,1.003,0.925,1.000,1.401,1.057,1.000,1.179,0.827
C,1.355,1.191,1.043,0.967,1.184,1.125,1.000,1.149,1.151,1.000,...,0.891,0.741,0.817,1.137,1.061,1.000,1.000,1.261,0.867,1.000
G,1.199,1.310,1.000,1.139,0.851,1.503,1.015,1.061,0.876,1.189,...,1.000,1.206,1.000,1.000,1.589,0.830,1.111,1.189,1.147,1.343
T,1.000,1.089,1.147,1.110,0.971,1.268,0.850,1.000,1.042,1.411,...,1.083,0.965,1.118,0.971,0.816,0.896,1.102,1.112,1.000,1.239

In [12]:
# chrom
# pos
# ref
# alt
# pvalue
# effect

c2v={c:[] for c in ['chrom','pos','ref','alt','pvalue','effect']}

ntList=list('ATGC')

# iterate over each nt in the enhancer
for idx0,ref in enumerate(en):
    idx1=str(idx0+1)
    altList=[nti for nti in ntList if nti!=ref]
    
    for alt in altList:
        
        c2v['chrom'].append(enName)
        c2v['pos'].append(idx0)
        c2v['ref'].append(ref)
        c2v['alt'].append(alt)
        c2v['pvalue'].append(df.at[alt,idx1])
        c2v['effect'].append(effDF.at[alt,idx1])
        
outDF=pd.DataFrame(c2v)
outDF.head()

  chrom  pos ref alt  pvalue  effect
0  IFNB    0   T   A     1.0   0.932
1  IFNB    0   T   G     1.0   1.199
2  IFNB    0   T   C     1.0   1.355
3  IFNB    1   A   T     1.0   1.089
4  IFNB    1   A   G     1.0   1.310

In [13]:
outDF.to_csv('IFNB__for-input.tsv',index=None,sep='\t')

In [14]:
with open('IFN-genome.fa','w') as f: f.write(f'>{enName}\n{en}\n')